.panel-default_dossier>.panel-heading_dossier {
color: #fff;
background-color: #7C01DC;
border-color: #ddd;
}
.panel-default>.panel-heading {
color: #fff;
background-color: #7C01DC;
border-color: #ddd;
}