<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//JALIOS//DTD JCMS-PLUGIN 1.6//EN" "http://support.jalios.com/dtd/jcms-plugin-1.6.dtd">
<plugin name="MiniSitePortailPlugin" version="0.1" author="Karim ZOUBA" license="SMA" initialize="true" jcms="" order="0" url="" jsync="false" appserver="">
  <label xml:lang="fr">MiniSitePortailPlugin</label>
  <description xml:lang="fr">Plugin contenant les portlets des mini sites</description>
  
  <types>
	
	
		<type name="Article"></type>
		<type name="DossierThematique"></type>
	
		<!--Liste des templates -->
		
		<!-- Portlet Ligne -->
		
		<templates type="PortletRow">
	    	<template name="headerImage" file="doPortletRowImage.jsp" usage='box'>
	      		<label xml:lang="en">Portail Portlet Header Image</label>
	      		<label xml:lang="fr">Portail Portlet Header Image</label>
	    	</template>
	    	<template name="headerNavigate" file="doPortletRowNavigation.jsp" usage='box'>
	      		<label xml:lang="en">Portail Portlet Header Navigation</label>
	      		<label xml:lang="fr">Portail Portlet Header Navigation</label>
	    	</template>	    
	  	</templates>
	  	
	  	<templates type="PortletQueryForeachDetail">
	    	<template name="ResumeDossierThematiqueVignette" file="ResumeDossierThematiqueVignette.jsp" usage='box'>
	      		<label xml:lang="en">Présentation Résumé Dossier Thématique</label>
	      		<label xml:lang="fr">Présentation Résumé Dossier Thématique</label>
	    	</template>
	    	<template name="ListeResumeDossierThematiqueHorizontale" file="ListeResumeDossierThematiqueHorizontale.jsp" usage='box'>
	      		<label xml:lang="en">Présentation Résumé Dossier Thématique (Liste Horizontale)</label>
	      		<label xml:lang="fr">Présentation Résumé Dossier Thématique (Liste Horizontale)</label>
	    	</template>
	   </templates>
	   
	   <!-- Dossier Thématique -->
	   
	   <templates type="PortletQueryForeach">
	   		<template name="DossierThematiqueFullDisplay" file="DossierThematiqueFullDisplay.jsp"  usage='full'>
	    		<label xml:lang="en">Mini Site Gabarit Dossier Thématique Résumé Full Display</label>
	      		<label xml:lang="fr">Mini Site Gabarit Dossier Thématique Résumé Full Display</label>
	    	</template>
	    	<template name="DossierThematiqueFullDisplay" file="DossierThematiqueFullDisplay.jsp"  usage='box'>
	    		<label xml:lang="en">Mini Site Gabarit Dossier Thématique Résumé Full Display</label>
	      		<label xml:lang="fr">Mini Site Gabarit Dossier Thématique Résumé Full Display</label>
	    	</template>
	   </templates>
	   
	   <templates type="DossierThematique">
	   		<template name="DossierThematiqueFullDisplay" file="DossierThematiqueFullDisplay.jsp"  usage='full'>
	    		<label xml:lang="en">Mini Site Gabarit Dossier Thématique Résumé Full Display</label>
	      		<label xml:lang="fr">Mini Site Gabarit Dossier Thématique Résumé Full Display</label>
	    	</template>
	    	<template name="DossierThematiqueFullDisplay" file="DossierThematiqueFullDisplay.jsp"  usage='box'>
	    		<label xml:lang="en">Mini Site Gabarit Dossier Thématique Résumé Full Display</label>
	      		<label xml:lang="fr">Mini Site Gabarit Dossier Thématique Résumé Full Display</label>
	    	</template>
	   </templates>
	   
	   <!-- Article -->
	   <templates type="Article">
	   
	   <template name="ArticleFullDisplay" file="ArticleFullDisplay.jsp"  usage='full'>
	    		<label xml:lang="en">Mini Site Gabarit Article Full Display</label>
	      		<label xml:lang="fr">Mini Site Gabarit Article Full Display</label>
	    	</template>
	    	<template name="ArticleFullDisplay" file="ArticleFullDisplay.jsp"  usage='box'>
	    		<label xml:lang="en">Mini Site Gabarit Article Full Display</label>
	      		<label xml:lang="fr">Mini Site Gabarit Article Full Display</label>
	    	</template>
	    	
	   </templates>
	   
	   
	   <!-- Portlet WYSIWYG -->
	   
	    <templates type="PortletWYSIWYG">
	   		<template name="FooterFullDisplayLeft" file="doPortletWYSIWYGFooterLeft.jsp"  usage='full'>
	    		<label xml:lang="en">Mini Site Gabarit Footer Left Full Display</label>
	      		<label xml:lang="fr">Mini Site Gabarit Footer Left Full Display</label>
	    	</template>
	    	<template name="FooterFullDisplayLeft" file="doPortletWYSIWYGFooterLeft.jsp"  usage='box'>
	    		<label xml:lang="en">Mini Site Gabarit Footer Left Box Display</label>
	      		<label xml:lang="fr">Mini Site Gabarit Footer Left Box Display</label>
	    	</template>
	    	<template name="FooterFullDisplayRight" file="doPortletWYSIWYGFooterRight.jsp"  usage='full'>
	    		<label xml:lang="en">Mini Site Gabarit Footer Right Full Display</label>
	      		<label xml:lang="fr">Mini Site Gabarit Footer Right Full Display</label>
	    	</template>
	    	<template name="FooterFullDisplayRight" file="doPortletWYSIWYGFooterRight.jsp"  usage='box'>
	    		<label xml:lang="en">Mini Site Gabarit Footer Right Box Display</label>
	      		<label xml:lang="fr">Mini Site Gabarit Footer RightBox Display</label>
	    	</template>
	   </templates>
	   
	   
	   
	  	
</types>

  <private-files>
    <directory path="properties" />
  </private-files>
  <public-files>
    <directory path="js" />
    <directory path="css" />
    <directory path="docs" />
    <directory path="jsp" />
    <directory path="types" />
  </public-files>
</plugin>
