<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//JALIOS//DTD JCMS-PLUGIN 1.6//EN" "http://support.jalios.com/dtd/jcms-plugin-1.6.dtd">
<plugin name="MiniSitePortailPlugin" version="0.1" author="Karim ZOUBA" license="SMA" initialize="true" jcms="" order="0" url="" jsync="false" appserver="">
  <label xml:lang="fr">MiniSitePortailPlugin</label>
  <description xml:lang="fr">Plugin contenant les portlets des mini sites</description>
  
  <types>
	
	 	<!--Liste des templates -->
		
		<!-- Portlet Ligne -->
		
		<templates type="PortletRow">
	    	<template name="headerImage" file="doPortletRowImage.jsp" usage='box'>
	      		<label xml:lang="en">Portail Portlet Header Image</label>
	      		<label xml:lang="fr">Portail Portlet Header Image</label>
	    	</template>
	    	<template name="headerNavigate" file="doPortletRowNavigation.jsp" usage='box'>
	      		<label xml:lang="en">Portail Portlet Header Navigation</label>
	      		<label xml:lang="fr">Portail Portlet Header Navigation</label>
	    	</template>	    
	  	</templates>
	  	
	  	<templates type="PortletQueryForeachDetail">
	    	<template name="ListeResumeDossierThematiqueVignette" file="ListeResumeDossierThematiqueVignette.jsp" usage='box'>
	      		<label xml:lang="en">Présentation Résumé Dossier Thématique sous forme de liste de vignettes</label>
	      		<label xml:lang="fr">Présentation Résumé Dossier Thématique sous forme de liste de vignettes</label>
	    	</template>
	    	  
	  	</templates>
	  	
</types>

  <private-files>
    <directory path="properties" />
  </private-files>
  <public-files>
    <directory path="js" />
    <directory path="css" />
    <directory path="docs" />
    <directory path="jsp" />
    <directory path="types" />
  </public-files>
</plugin>
